body { background: #8d8357; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-shipping-0 { color: #4e092e; font-size: 20px; margin-bottom: 5px; }
.block-shipping-1 { color: #823576; font-size: 14px; margin-bottom: 5px; }
.block-session-2 { color: #64c669; font-size: 20px; margin-bottom: 5px; }
.block-config-3 { color: #7df3ff; font-size: 21px; margin-bottom: 5px; }
.block-logger-4 { color: #e6ddea; font-size: 19px; margin-bottom: 5px; }